language: python
cache: pip
sudo: false

  
# Enable 3.7 without globally enabling sudo and xenial
matrix:
  include:
    - python: 3.6
    - python: 3.7
      dist: xenial
      sudo: true

env:
  global:
    - TEST_DEPS="pytest pytest-cov"
    - TEST_DIR=/tmp/_schemapi/


before_install:
  - pip install pip --upgrade;

install:
  - pip install -e .;

script:
  - mkdir -p $TEST_DIR
  - cd $TEST_DIR && python -m pytest --pyargs --doctest-modules schemapi --cov-report term-missing --cov=schemapi;
